PORT=3000
MONGODB_URI=mongodb://seu_usuario:sua_senha@ac-seucluster-shard-00-00.seucluster.mongodb.net:27017,ac-seucluster-shard-00-01.seucluster.mongodb.net:27017,ac-seucluster-shard-00-02.seucluster.mongodb.net:27017/geekshop?replicaSet=seu-replica-set-real&tls=true&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=troque-esta-chave-por-uma-secreta
ADMIN_EMAIL=admin@geekshop.com
ADMIN_PASSWORD=Admin123!
